# Octera-3V3 entrypoint. printer.cfg includes only this file:
#   [include Octera/octera.cfg]

[include camera-settings.cfg]
[include macros/M600-support.cfg]
[include macros/save-zoffset.cfg]
[include macros/useful-macros.cfg]
[include improved-shapers/improved-shapers.cfg]
[include buzzer-support.cfg]
[include kamp/KAMP_Settings.cfg]
